@font-face {
 font-family:qtum-icons;
 src:url(2b29d74.eot);
 src:url(2b29d74.eot#iefix) format("embedded-opentype"),
 url(ddea165.ttf) format("truetype"),
 url(beaaadd.woff) format("woff"),
 url(fc05da5.svg#qtum-icons) format("svg");
 font-weight:400;
 font-style:normal
}



 * {
    margin:0; 
    padding:0; 
    outline:0; 
    list-style: none; 
    border:none; 
    box-sizing: border-box; 
    font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight:normal;
    font-size:16px;
}

body {
    background-color: #f5f6f8;
    padding-bottom:200px;
}

div#nav {
    background-color:#ffffff;
}

header {
    max-width:1344px;
    margin:0 auto;

}

header a {
    font-size:1.5em;
    color: #4a4a4a;
    text-decoration:none;
    display:inline-block;
    padding-bottom:8px;
    padding-top:8px;
}


.qtum-icon {
	font-family: qtum-icons !important;
	font-style: normal;
	font-weight: 400;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:1em;
    vertical-align: middle;
}

.qtum-icon::before {
	content: "\e906";
}

header a:hover {
    color: #3273dc;
}

main.container {
    margin:0 auto;
    max-width:1344px;
    padding:0.75rem;
}


.card {
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
	color: #4a4a4a;
	max-width: 100%;
    position: relative;
    margin-bottom:1.5rem;
}

.card-header {
	background-color: transparent;
	align-items: stretch;
	box-shadow: 0 1px 2px rgba(10,10,10,.1);
	display: flex;
}

.card-header-title {
	align-items: center;
	color: #363636;
	display: flex;
	flex-grow: 1;
	font-weight: 700;
	padding: .75rem;
}

.card-body {
    padding:0.5rem 1rem;;
}

textarea {
    display:block;
    width:100%;
    border:1px solid #4a4a4a;
    padding:0.25em;
    font-family:'Courier New', Courier, monospace;
    font-size:0.9em;
    margin:0.5em 0 1em;
    box-shadow:inset 0 0 4px #e0e0e0;
}

textarea:focus {
    border-color:#3273dc;
}

textarea[readonly] {
    border:1px solid #b0b0b0;
}

input[type="text"] {
    border:1px solid #4a4a4a;
    padding:0.25em;
    font-family:'Courier New', Courier, monospace;
    font-size:0.9em;
    box-shadow:inset 0 0 4px #e0e0e0;
    display:inline-block;
    margin:0.5em 0 1em;
}

input[type="text"]:focus {
    border-color:#3273dc;
}

select {
    border:1px solid #4a4a4a;
    padding:0.18em;
    font-family:'Courier New', Courier, monospace;
    font-size:0.9em;
    box-shadow:inset 0 0 4px #e0e0e0;
    display:inline-block;
    margin:0.5em 0 1em;
}

select:focus {
    border-color:#3273dc;
}

p.info {
    font-size:0.9em;
    color:#606060;
    margin-bottom:0.2em;
}

p#abi_feedback {
    color:red;
}

#data_container {
    position:relative;
}

#txtData {
    min-height:140px;
    line-height:2.2em;
}

ul#data_params {
    position:absolute;
    top:0.8em;
    left:70px;
}

ul#data_params li {
    /*margin-top:1.0em;*/
    display:block;
    height:1.0em;
    font-size:0.8em;
    color:#808080;
    font-family:'Courier New', Courier, monospace;
    position:absolute;
    white-space: nowrap;
}

ul#data_params li.error {
    color:red;
}

p#output_feedback {
    color:red;
    margin-bottom:0.5rem;
}

a.remove {
    cursor:pointer;
}

ul.generator {
    margin-bottom:1em;
}

ul.generator input, ul.generator select {
    margin-bottom:0.2em;
}

ul.generator li:only-child a.remove, ul.generator li:last-child a.remove {
    visibility: hidden;
}

ul.generator input.val {
    width: 60%;
}

ul.generator select {
    width:120px;
}

ul.generator p.feedback {
    font-size:0.9em;
    color:red;
    padding-left:30px;
}


@media screen and (max-width:1384px) {
    header {
        margin-left:20px;
    }

    
}